# Environment
BASE_URL=https://app-eu1.hubspot.com
API_URL=https://api.example.com

# Auth
USERNAME=your_email@example.com
PASSWORD=your_password
OTP_SECRET=YOUR OTP SECRET
PORTAL_ID=your_portal_id

# Timeouts (ms)
DEFAULT_TIMEOUT=30000
